<div id="songs">
    <ul>
        {{#results}}
        <li data-id="{{objectId}}">
            <div>Song: <a href="{{song.url}}">{{song.url}}</a></div>
            <div>Title: {{title}}</div>
            <div>Like: {{like}}</div>
            <div>Genre: {{genre}}</div>
            <button class="like-songs-btn">Like</button>
            <button class="delete-songs-btn">X</button>
            <button class="add-to-playlist">Add to playlist</button>
            <!--{{#sessionStorage['sessionToken']}}-->
            <!--{{/sessionStorage['sessionToken']}}-->
        </li>
        {{/results}}
    </ul>
    <div id="create-song-btn">
        <input type="file" id="song"/>
        <input type="text" id="title" placeholder="Enter title"/>
        <select id="genre">
            <option value="rock">Rock</option>
            <option value="disco">Disco</option>
            <option value="pop">Pop</option>
            <option value="pop-folk">Pop-folk</option>
        </select>
        <!--<input type="text" id="genre" placeholder="Enter genre"/>-->
        <button id="create-song">Add Song</button>
    </div>
</div>